
/*main-section*/
.main-banner {
    background: url('../images/main-banner.png') no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
}
.main-section {
    padding: 7.5rem 1.87rem;
    display: flex;
    justify-content: space-between;
    
}

.main-section_image {
    text-align: right;
    vertical-align: middle;

}
.main-section_welcome {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    letter-spacing: 2px;
    color: #666;
}
.main-section_introduction {
    margin-top: 1.25rem;
    font-size: 3.75rem;
    font-weight: 500;
    margin-bottom: 1.25;
    color: #05346e;
}
.main-section_position {
    font-size: size 1.5rem;
    font-weight: 300;
    color: #05346e;
    margin-bottom: 1.25rem; 
}
.main-section_social-networks a {
    color: #8fa1aa;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}
.main-section_social-networks a:hover i {
    color: #1c44e4;
}
.main-section_action {
    margin-top: 1.87rem;
    border: none;
    background: linear-gradient(to right,#1345e6 0%, #ed239f 51%,#1345e6 100%);
    background-size: 200% auto;
    color: #fff;
    font-size: 0.87rem;
    font-weight: 500;
    padding: 1.25rem 2.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.main-section_action:hover {
    color: #8fa1aa;
    background-color: #1c44e4;
}

/*statistics section*/
.statistics {
    padding-top: 6.25rem;
    display: flex;
}
.statistics_item {
    background-color: #f8faff;
    text-align: center;
    padding: 0.32rem 0.625rem;
}

.statistics_number {
    font-size: 1.69rem;
    margin-bottom: 0.32rem;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.statistics_title {
    font-size: 1rem;
    font-weight: 300;
    color: #797979;
    margin-right: 1.87rem;
}

/* about me */
.about-me {
    padding: 6.25rem;
    display: flex;
    align-items: center;
}
.about-me > div {
    flex: 1;
}
.about-me_image img {
    width: 90%;
}
.about-me_description {
    font-size: 0.87rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.69rem;
}

/* services section styles */
.services {
    padding: 6.25rem;
}
.services-cards {
    display: flex;
    justify-content: space-between;
}
.service-card {
    padding: 3.75rem 1.87rem;
    background-color: #f8faff;
    margin-right: 5%;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.4s ease 0s;
}
.service-card:hover {
    background-color: #1c44e4;
}
.service-card:hover .service-card_title,
.service-card:hover .service-card_description,
.service-card:hover .service-card_link {
    color:#fff;
}
.service-card_title {
    color: #05364d;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}
.service-card_description {
    font-size: 0.87rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #797979;
}
.service-card_link {
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    text-decoration: none;
}
.services-head {
    padding-left: 1.87rem;
}

/*clients*/
.clients {
    padding-top: 6.25rem;
}
.clients-item {
    display: flex;
    align-items: center;
}
.clients-item > div {
   flex: 1;
}
.clients-item_image img {
    width: 100%;
}
.clients-item_info {
    padding-left: 3.12rem;
}
.clients-item_name {
    font-size: 1.25rem;
    margin-bottom: .25rem;
    text-transform: capitalize;
}
.clients-item_position {
    font-size: 0.87rem;
    font-weight: 300;
    color: #5b6d75;
}
.clients-item_review {
    font-size: 0.87rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #5b6d75;
}

.clients-item_rate {
    color: #ffd805;
}
.clients-item_rate .grey {
    color: #aeb9be;

}

/*portfolio section */
.portfolio {
    padding: 6.25rem;
}
.portfolio-filters {
    list-style: none;
    padding-left: 0;
    margin-top: 3.12rem;
}
.portfolio-filters li {
    display: inline-block;
    padding-right: 2.5rem;
    font-size: 0.81rem;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}
.portfolio-filters li.active {
    color: #1345e6;
}
.portfolio-filters li:hover {
    color: #1345e6;
}
.portfolio-items {
    position: relative;
    margin-top: 50px;
    
}
.portfolio-item1 {
    padding-left: 0;
}
.portfolio-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 0.625rem;
    box-sizing: border-box;
}
.portfolio-item3 {
    position: absolute;
    top: 0;
    right: 0;
}
.portfolio-item4 {
    position: absolute;
    top: 402px;
    right: 0;
    margin-top: 0.625rem;
}
.portfolio-item_overlay {
    position: absolute;
    left: 0;
    top: 0;
    height:  100%;
    width: 100%;
    z-index: 1;
    transition: all 0.4s ease 0s;
} 
.portfolio-item_image {
    width: 100%;
}
.portfolio-item_info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
.portfolio-item_info a {
    color: white;
    text-decoration: none;
}
.portfolio-item:hover .portfolio-item_overlay {
    background: rgba(19,69,230,0.9);
    visibility: visible;
    top: 20px;
    left: 20px;
}
.portfolio-item:hover .portfolio-item_info {
    visibility: visible;
    bottom: 24px;
    left: 60px;
    opacity: 1;
}


/*blog section*/
.blog {
    padding-top: 6.25rem;
}
.blog-items {
    margin-top: 3.12rem;
    display: flex;
    justify-content: space-between;
}
.blog-item {
    overflow: hidden;
    margin-right: 3%;
    box-sizing: border-box;
}
.blog-item:hover {
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}
.blog-item:hover .blog-item_image img {
    transform: scale(1.1);
}
.blog-item_image {
    overflow: hidden;
}
.blog-item_image img {
      width: 100%;
      vertical-align: middle;
      transition: all 0.4s ease 0s;
}
.blog-item_info {
    background-color: #f8faff;
    padding: 1.87rem;
    color: #797979;
}
.blog-item_main-info span {
     font-size: 0.87rem;
     margin-right: 1.87rem;
     font-weight: lighter;
}
.blog-item_info i {
    margin-right: 0.32rem;
}
.blog-item_title {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.94rem;
    color: #05364d;
    font-weight: 700;
}
.blog-item_description {
    line-height: 1.67rem;
    font-weight: lighter;
    font-size: 0.94rem;
}
.blog-item_learnmore {
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    cursor: pointer;
}
.blog-item_learnmore:hover {
    color: #ed239f;
}

/*partners section*/
.partners {
    padding-top: 6.25rem;
    display: flex;
    justify-content: space-between;
}
.partner {
    padding: 0 1.87rem;
}

/* respponsive section */
@media only screen and (max-width: 991px) {
    /* main section */
    .main-section_image  {
        display: none;
    }
    .main-section > div {
        width: 100%;
    }
    /* statistics section */
    .statistics {
        padding-top: 1rem;
        text-align: center;
        justify-content: center;
    }
     /* about me */
     .about-me {
        padding: 1.5rem 0;
    }
    .about-me > div {
         width: 100%;
    }
    .about-me_image {
        display: none;
    }
    /* services section */
    .services {
        padding: 1.5rem 0;
    }
    .services-cards {
        flex-wrap: wrap;
    }
    .service-card {
        flex-basis: 45%;
        margin-bottom: 20px;
    }
     /* clients section */
     .clients {
        padding: 1.5rem 0;
    }
    .clients-item {
        flex-direction: column;
    }
    .clients-item > div {
        width: 100%;
        float: none;
    }  
     /* blog section */
     .blog {
        padding: 1.5rem 0;
    }
    .blog-items {
        flex-wrap: wrap;
    }
    .blog-item {
        flex-direction: 45%;
        margin-bottom: 20px;
    } 
     /* partners section */
     .partners {
        padding: 1.5rem 0;
    }
    .partners {
        flex-direction: column;
    }
    .partner {
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 767px) {
    /*main section */
    .main-banner {
        background: none;
        min-height: auto;
    }
    .main-section_image {
        display: none;
    }
    .main-section_action {
        display: none;
    }
   
    /* statistics section */
    .statistics {
        flex-direction: column;
    }
    .statistics_item {
        width: 100%;
        margin-bottom: 20px;
    }
    .main-section_introduction {
        font-size: 3rem;
    }

    /* services section */
   
    .service-card {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
   
    /* portfolio section */
    .portfolio {
        padding: 1.5rem 0;
    }
    .portfolio-item {
        width: 100%;
    }
    .portfolio-item3,
    .portfolio-item4 {
        position: static;
    }
    /* blog section */
    .blog-items {
        flex-direction: column;
    }
    .blog-item {
        flex-basis: 100%;
        margin-right: 0;
    }
   
}